.edit-button {
  background: #0df10d;
  cursor: pointer;
  color: #132330; }
  .edit-button:hover {
    background: #0ac10a;
    color: #132330; }

.delete-button {
  background: red;
  cursor: pointer;
  color: #fff; }

.story-card-buttons {
  display: flex;
  flex-wrap: wrap; }

.story-card-location {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px; }
  .story-card-location .story-card {
    width: 48%;
    height: 300px;
    background: #ddd;
    display: block;
    margin-bottom: 3vh; }
    .story-card-location .story-card:nth-of-type(2n) {
      margin-left: 4%; }
    .story-card-location .story-card .story-title {
      text-align: center;
      margin-top: 2vh; }
    .story-card-location .story-card .story-card-image {
      margin-top: 2vh;
      width: 50%;
      height: 50%;
      margin-left: 25%;
      border-radius: 500px; }

#top-bar {
  background: #132330;
  width: 100%;
  height: 6vh;
  position: fixed;
  z-index: 100; }
  #top-bar .user-bar {
    width: 70%;
    margin: 0 auto;
    color: #fff; }
    #top-bar .user-bar .user-name {
      text-align: right;
      padding: 5px 0;
      margin-right: 2vw; }
      #top-bar .user-bar .user-name:before {
        content: '\f007';
        font-family: 'FontAwesome';
        margin-right: 5px; }

#side-bar {
  background: #132330;
  margin-top: 6vh;
  height: 94vh;
  width: 15vw;
  position: fixed;
  z-index: 100; }
  #side-bar a {
    color: #fff; }
    #side-bar a:hover {
      text-decoration: none;
      background: #0498e2;
      color: #132330; }
  #side-bar ul {
    list-style-type: none;
    padding-left: 20px; }
    #side-bar ul li {
      margin-left: 5px;
      padding-top: 10px; }

#main-content {
  display: flex; }

#page-content {
  margin-top: 6vh;
  margin-left: 15vw;
  overflow: hidden; }

.profile-header {
  background-image: url("../img/profile-background-v1.jpg");
  background-size: cover;
  background-position: center;
  width: 85vw;
  height: 50vh;
  display: block;
  position: relative; }
  .profile-header .profile-picture {
    border-radius: 75px;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 25%;
    left: 40%; }
  .profile-header .count-bg {
    position: absolute;
    top: 80%;
    left: 43%; }
    .profile-header .count-bg .story-count {
      color: #fff;
      font-size: 1.4em; }

.profile-details {
  width: 50vw;
  margin-left: 17vw; }

.profile-heading {
  font-size: 25px;
  margin-top: 3vh;
  padding-bottom: 10px;
  border-bottom: 1px solid #132330; }

.personal-details .my-details {
  margin-top: 20px;
  position: relative; }
  .personal-details .my-details a {
    position: absolute;
    right: 0;
    top: 30%; }
  .personal-details .my-details p {
    line-height: 12px;
    font-size: 20px; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  overflow-y: scroll; }

body {
  background: #c1bdba;
  font-family: 'Titillium Web', sans-serif; }

a {
  text-decoration: none;
  color: #0498e2;
  transition: .5s ease; }
  a:hover {
    color: #0487c9; }

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); }

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0; }
  .tab-group:after {
    content: "";
    display: table;
    clear: both; }
  .tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease; }
    .tab-group li a:hover {
      background: #0487c9;
      color: #ffffff; }
  .tab-group .active a {
    background: #0498e2;
    color: #ffffff; }

.tab-content > div:last-child {
  display: none; }

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px; }

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px; }
  label .req {
    margin: 2px;
    color: #0498e2; }

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px; }
  label.active .req {
    opacity: 0; }

label.highlight {
  color: #ffffff; }

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease; }
  input:focus, textarea:focus {
    outline: 0;
    border-color: #0498e2; }

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical; }

.field-wrap {
  position: relative;
  margin-bottom: 40px; }

.top-row:after {
  content: "";
  display: table;
  clear: both; }

.top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%; }
  .top-row > div:last-child {
    margin: 0; }

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #0498e2;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none; }
  .button:hover, .button:focus {
    background: #0487c9; }

.button-block {
  display: block;
  width: 100%; }

.forgot {
  margin-top: -20px;
  text-align: right; }
