#top-bar {
	background: $dark-blue;
	width: 100%;
	height: 6vh;
	@media (max-width: 500px ) {
		height: 8vh;
	}
	position: fixed;
	z-index: 100;
	.user-bar {
		width: 70%;
		@media (max-width: 500px ) {
			width: 90%;
		}
		margin: 0 auto;
		color: #fff;
		.user-name {
			text-align: right;
			padding: 1vh 0;
			margin-right: 2vw;
			@media (max-width: 500px) {
				font-size: 1.5em;
			}
			a {
				color: #fff;
			}
			&:before {
				content: '\f007';
				font-family: 'FontAwesome';
				margin-right: 5px;
			}
		}
	}
}

#hamburger-menu {
	.hamburger{
		@media (min-width: 501px) {
			display: none;
		}
		background:none;
		position:absolute;
		top:-5px;
		left:0;
		line-height:45px;
		padding:5px 15px 0px 15px;
		color:#fff;
		border:0;
		font-size:1.5em;
		font-weight:bold;
		cursor:pointer;
		outline:none;
		z-index:10000000000000;
	}
	.cross{
		background:none;
		position:absolute;
		top:-5px;
		left:0;
		padding:7px 15px 0px 15px;
		color:#fff;
		border:0;
		font-size:3em;
		line-height:65px;
		font-weight:bold;
		cursor:pointer;
		outline:none;
		z-index:10000000000000;
	}
}