.new-users-location {
	display: flex;
	flex-wrap: wrap;
	.new-users {
		width: 48%;
		background: $gray-light;
		text-align: center;
		height: 100px;
		&:nth-of-type(2n) {
			margin-left: 4%;
		}
		.user-name {
			font-size: 20px;
		}
		.user-email {
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.user-buttons {
	.user-icons {
		padding: 5px 10px;
		border-radius: 4px;
	}	
}