.new-users-location {
	.new-users {
		display: flex;
		.user-details {
			display: flex;
		}
		.user-name {
			font-size: 20px;
			margin-right: 5vw;
			display: block;
			&:after {
				content: "|";
				margin-left: 2vw; 
			}	
		}
		.user-email {
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.user-buttons {
	.user-icons {
		padding: 5px 10px;
		border-radius: 4px; 
		display: inline-block;
	}	
}