// Buttons
.edit-button {
	background: $edit-green;
	cursor: pointer;
	color: $dark-blue; 
	&:hover {
		background: $darker-edit-green;
		color: $dark-blue;
	}
}

.delete-button {
	background: red;
	cursor: pointer;
	color: #fff;
	&:hover {
		background: $darker-delete-red;
		color: #fff;
	}
}

.story-card-buttons {
	display: flex;
	flex-wrap: wrap;
	.card-icons {
		// color: 
	}
}



@mixin card($width, $height) {
	width: $width;
	height: $height;
	background: $gray;
	display: block;
	margin-bottom: 3vh;
}

@mixin not-first-card($margin) {
	margin-left: $margin;
}

// Story Cards
.story-card-location {
	margin-top: 5vh;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
	.story-card {
		@include card(48%, 300px); 
		&:nth-of-type(2n) {
			@include not-first-card(4%);
		}
		.story-title {
			text-align: center;
			margin-top: 2vh;
		}
		.story-card-image {
			margin-top: 2vh;
			width: 50%;
			height: 50%;
			margin-left: 25%;
			border-radius: 500px;
		}
	}
}