#main-content {
	display: flex;
}
#page-content {
	margin-top: 6vh;
	margin-left: 15vw;
	overflow: hidden;
}

// header image
.profile-header {
	background-image: url('../img/profile-background-v1.jpg');
	background-size: cover;
	background-position: center;
	width: 85vw;
	height: 50vh;
	display: block;
	position: relative;
	.profile-picture {
		border-radius: 75px;
		height: 150px;
		width: 150px;
		position: absolute;
		top: 25%;
		left: 40%; 
	}
	.count-bg {
		position: absolute;
		top: 80%;
		left: 43%;
		.story-count {
			color: #fff;
			font-size: 1.4em;
		}
	}
}

// profile details position
.profile-details{
	width: 50vw;
	margin-left: 17vw;
}


.profile-heading {
	font-size: 25px;
	margin-top: 3vh;
	padding-bottom: 10px;
	border-bottom: 1px solid $dark-blue;
}

// user details
.personal-details {
	.my-details {
		margin-top: 20px;
		position: relative;
		a {
			position: absolute;
			right: 0;
			top: 30%;
		}
		p {
		    line-height: 12px;
		    font-size: 20px;
		}
	}
}


// user stories
.my-stories {

}







