#main-content {
	display: flex;
}
#page-content {
	margin-top: 6vh;
	margin-left: 15vw;
}
.profile-header {
	// background: red;
	background-image: url('../img/profile-background-v1.jpg');
	background-size: cover;
	background-position: center;
	width: 85vw;
	height: 50vh;
	display: block;
	position: relative;
	.profile-picture {
		border-radius: 75px;
		height: 150px;
		width: 150px;
		position: absolute;
		top: 25%;
		left: 43%; 
	}
	.count-bg {
		position: absolute;
		top: 80%;
		left: 46%;
		.story-count {
			color: #fff;
			font-size: 1.4em;
		}
	}
}
.personal-details {
	width: 60vw;
	margin-left: 10vw;
	h2 {
		font-size: 25px;
		margin-top: 3vh;
		padding-bottom: 10px;
		border-bottom: 1px solid $dark-blue;
	}
	.my-details {
		p {
		    line-height: 12px;
		    font-size: 20px;
		}
	}
}