#post-story {
	margin-left: 13vw;
	width: 55vw;
	@media (max-width: 800px) {
		margin-left: 10vw;
		width: 80vw;
	}
	.title-wrapper {
		@media (max-width: 800px) {
			padding-top: 10px;
		}
	}
}



.story-type-button {
	background: $dark-blue;
	color: #fff;
	cursor: pointer;
	width: 125px;
	@media (max-width: 800px) {
		width: 100%;
		margin-bottom: 5px;
		font-size: 1.5em;
	}
	&:hover {
		background: $lighter-dark-blue;
		color: #fff;
	}
	span {
		transition: margin .2s;
		position: relative;
		display: block;
		&:after {
			position: absolute;
			transition: opacity .2s, transform .2s;
			transform: translateX(10px);
			content: '\f00c';
			font-family: 'FontAwesome';
			opacity: 0;
		}
	}
}

.field-wrap {
	&.story-text, &.story-images, &.story-audio {
		margin-bottom: 10px;
	}
}


.type-active span {
	margin: 0 10px 0 0;
	&:after {
		opacity: 1;
		transform: translateX(5);
	}
}

.post-form {
	margin-bottom: 5vh;
	.post-story {
		color: $dark-blue;
		// color: $main;
	}
	input[type="text"], textarea {
		font-size:18px;
		display:block;
		width:100%;
		padding:5px 10px;
		background:rgba($main-light, .1);
		border-radius:0;
		transition:border-color .25s ease, box-shadow .25s ease;
		color: $dark-blue;
		&:focus {
			// border-color: $darker-dark-blue;
			// border: 1px solid #a0b3b0;
			box-shadow: 0 0 5px $dark-blue;
		}
	}
	#audioID {
		display: none;
	}
	input[type="text"] {
		height:6vh;
	}
	.small-label {
		font-size:22px;
		.req {
			margin:2px;
			color:$main;
		}
		&.index {
			color: $gray-light;
		}
	}
	.categories {
		display: flex;
		flex-wrap: wrap;
		.story-cat {
			width: 25%;
		}
	}
	.text-label {
	  left:29vw;
	}

	.text-label.active {
	  left:28vw;
	}
	input[type="checkbox"] {
		transform: scale(1.5);
		margin-right: 5px;
	}
	.checkbox {
		font-size: 20px;
		margin-bottom: 5px;
	}
}

.story-images,.story-text,.story-audio {
	opacity: 0;
	height: 0;
	transition: opacity .5s, height .5s;
	pointer-events: none;
	&.show {
		height: auto;
		opacity: 1;
		margin-bottom: 40px;
		pointer-events: auto;
	}
}

#progress-timer {
	margin: 10px 0;
}

.edit-image-wrapper {
	clear: both;
	margin-bottom: 20px;
	.image-wrapper {
		display: flex;
		flex-wrap:wrap;
		.image-container {
			width: 50%;
			@media (max-width: 800px) {
				width: 100%;
				margin-bottom: 5px;
			}
		}
	}
	.edit-story-image {
		// margin-right: 5%;
		width: 90%;
	}
}
