#main-content {
	display: flex;
}


// header image
.profile-header {
	background-image: url('../img/profile-background-v1.jpg');
	background-size: cover;
	background-position: center;
	width: 85vw;
	@media (max-width: 500px) {
		width: 100vw;
	}
	height: 50vh;
	display: block;
	position: relative;
	.profile-picture {
		border-radius: 75px;
		height: 150px;
		width: 150px;
		position: absolute;
		top: 25%;
		left: 35vw;
	}
	.count-bg {
		position: absolute;
		top: 80%;
		left: 40%;
		@media (max-width: 500px) {
			left: 30%;
		}
		.story-count {
			color: #fff;
			font-size: 1.4em;
		}
	}
}

// profile details position
.profile-details {
	width: 50vw;
	margin-left: 17vw;
	@media (max-width: 500px) {
		width: 80vw;
		margin-left: 10vw;
	}
	margin-top: 50px;
}


.profile-heading {
	font-size: 25px;
	margin-top: 3vh;
	padding-bottom: 10px;
	border-bottom: 1px solid $dark-blue;
	font-weight: bold;
}


// user details

.personal-details {
	margin-bottom: 50px;
	.my-details {
		height: 125px;
		margin-top: 20px;
		position: relative;
		&.hide {
			opacity: 0;
			pointer-events: none;
			height: 0;
			transition: opacity .3s, height .3s;
		}
		button {
			position: absolute;
			right: 0;
			// bottom: 0;
		}
		p {
		    line-height: 12px;
		    font-size: 20px;
		}
	}
	#change-user-details {
		opacity: 0;
		pointer-events: none;
		height: 0;
		transition: opacity .3s, height .3s;
		position: relative;
		.submit-cancel{
			margin-top: 0;
		    display: inline-block;
				.cancel-button {
									float: right;
					// position: absolute;

					// right: 0;
					// top: 30%;
				}
				.submit-changes-btn {
				// position: absolute;
				// right: 0;
				float: right;
				margin-left: 5px;

			}
		}
		&.show {
			opacity: 1;
			pointer-events: auto;
			height: 100%;
			margin-top: 20px !important;
		}
	}

	form.form.details-edit {
		width: 100%;
		.field-wrap {
			margin-bottom: 35px;
		}
	}
	.details-edit {
		label {
			color: $dark-blue;
		}
		input[type="text"], input[type="email"], input[type="tel"] {
			background:rgba($main-light, .1);
			color: $dark-blue;
		}

		.submit-cancel {
			height: auto;
			width: 100%;
			display: flex;
			align-items: flex-end;
			margin-top: 60px;
		}

		// .change-details-cancel {
		// 	pointer-events: cursor;
		// 	position: absolute;
		// 	&:hover {
		// 		text-decoration: underline;
		// 		pointer-events: cursor;
		// 		cursor: pointer;
		// 		color: red;
		// 	}
		// }
	}
}

// user stories
.my-stories {
	margin-top: 80px;
}

.story-card {
    width: 48%;
    /* height: 45vh; */
    background: #ddd;
    display: block;
    margin-bottom: 3vh;
    border-radius: 10px;
    /* text-align: center; */
}

.story-card-buttons {
	width: 100%;
	    margin: 5vh auto;
	    display: flex;
	    flex-wrap: wrap;
}

