#front-content {
	display: flex;
}

.search-header {
	background-image: url('../img/dreamers.jpg');
	background-size: cover;
	height: 100vh;
	display: block;
	position: relative;
	width: 100%;
	@media (max-width: 700px) {
		width: 150vw;
		height:100vh;
	}


.search-stories-tool{
	width: 60%;
	position: relative;
	margin: auto;
	top: 20vh;
	// margin-bottom: 30px;
}



	.search-options {
		// position: relative;
	  //   top: 20vh;
		// 	text-align: center;
	    // left: 30vw;
	    // @media (max-width: 700px) {
		  //   top: 17vh;
		  //   left: 25%;
	    // }
	    // @media (max-width: 500px) {
		  //   top: 15vh;
		  //   left: 15%;
	    // }
		.form {
			display: flex;
			width: 482px;
			margin: auto;
		}
		.field-wrap {
			margin-bottom: 0;
			height: 50px;
			font-size: 48px;
		}
		.search-bar {
			// background: $main-light;
			border-top: 1px solid white;
			border-bottom: 1px solid white;
			border-left: 1px solid white;
			opacity: .5;
			width: 450px;
			@media (max-width: 700px) {
				width: 350px;
			}
			//border-top-left
			-webkit-border-top-left-radius: 10px;
			-moz-border-top-left-radius: 10px;
			border-top-left-radius: 10px;
			//border-bottom-left
			-webkit-border-bottom-left-radius: 10px;
			-moz-border-bottom-left-radius: 10px;
			border-bottom-left-radius: 10px;
			&:focus {
				opacity: 1;
				transition: opacity .2s;
			}
			&:hover {
				opacity: 1;
				transition: opacity .2s;
			}
		}
		.search-button {
		    width: 4vw;
		    @media (max-width: 700px) {
		    	width: 4vw;
		    }
		    border: none;
		    border-top-right-radius: 5px;
		    border-bottom-right-radius: 5px;
		}
	}

	.search-advanced {
		margin-top: 10px;
		color: #fff;
		.advance-button {
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
		.advanced-search-options {
			opacity: 0;
			pointer-events: none;
			&.show {
				opacity: 1;
				pointer-events: auto;
				transition: opacity .2s;
			}
		}
	}
}

.advanced-options-button {
	background: $dark-blue;
	color: #fff;
	cursor: pointer;
	width: 125px;
	&:hover {
		background: $lighter-dark-blue;
		color: #fff;
	}
	span {
		transition: margin .2s;
		position: relative;
		display: block;
		&:after {
			position: absolute;
			transition: opacity .2s, transform .2s;
			transform: translateX(10px);
			content: '\f00c';
			font-family: 'FontAwesome';
			opacity: 0;
		}
	}
}

.advanced-active span {
	margin: 0 10px 0 0;
	&:after {
		opacity: 1;
		transform: translateX(5);
	}
}

//link section to post story page
.post-story-search-link{
	// margin-top: 15%;
	width: 100%;
	height: auto;
	text-align: center;
	top: 40vh;
	@media (max-width: 700px) {
		top: 33vh;
	}
	position: absolute;
}

//button linked to post story page
.post-story-search-link-button{
	text-align: center;
	padding:15px;
	// border: 1px solid white;
	color: white;
	font-size: 20px;
	// opacity: .5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	letter-spacing: 3px;
	background: $edit-green;
	&:hover{
		// opacity: 1;
		transition: opacity .2s;
		background: $darker-edit-green;
		text-decoration: none;
		color: white;
	}
	&:focus {
		// opacity: 1;
		transition: opacity .2s;
	}
}


.search-content {
	.search-wrapper {
		display: flex;
		flex-wrap: wrap;
		width: 75vw;
		@media (max-width: 700px) {
			width: 150vw;
		}
		margin: 0 auto;
	}
	.story-tile {
		// display: flex;
		width: 30%;
		@media (max-width: 700px) {
			width: 100%;
			margin-left: 4%;
			margin-right: 0;
		}
		margin: 10px 0;
		margin-right: 3%;
		background: #f7f7f7;
		img {
			width: 100%;
			height: 200px;
			// height: auto;
			// max-height: 250px;
		}
		.story-info {
			@media (max-width: 700px) {
				margin-left: 10vw;
				margin-right: 10vw;
			}
			margin-left: 2vw;
			.story-title {
				margin-top: 5px;
			}
			.author-name {
				&:hover {
					color: $darker-dark-blue;
					transition: color .2s;
				}
				a:hover {
					text-decoration: none;
				}
			}
			.excerpt {

			}
			.story-extra {
				display: flex;
				.likes .feature-likes {
					margin-left: 1vw;
					font-size: 1.2em;
				}
				.view-story {
					margin-left: 2vw;
					margin-bottom: 2vh;
				}
			}
		}
		&:hover {
			// background: $dark-search-blue;
			background: rgba($main-light, .1);
			transition: background .2s;
		}
	}
}

#title-search-content{
	// height: 60px;
	width: 100%;
	padding-top: 95px;
	margin-bottom: 70px;
	width: 100%;
	h1{
		padding-top: 20px;
		color: black;
	}
}

//Scroll button
.circle {
  width: 70px;
  height: 70px;
  // border-radius: 50%;
  // background: #0098cd;
	color: white;
	font-size: 48px;
  position: relative;
  top: 60vh;
	text-align: center;
  @media (max-width: 700px ) {
  	top: 60vh;
  }
  // box-shadow: 0px 2px 8px rgba(0,0,0,.25);
  margin: 0 auto;
  cursor: pointer;
  transition: all .1s ease;
  // padding: 28px 25px 25px 25px;
}

.circle:hover {
	// top: 73vh;
  // background: #008cbd;
  // transition: all .1s ease;
}

.wrap {
  width: 100%;
  position: relative;
  animation: bounce 2s infinite;
}

// .arrow {
//   fill: none;
//   stroke: #ffffff;
//   stroke-width: 2;
//   stroke-linecap: round;
//   stroke-linejoin: round;
// }

@keyframes bounce {
    50% {
    top: 0px;
    }
    53.75% {
    top: 5px;
    }
   61.25% {
    top: -5px;
    }
    65% {
    top: 0px;
    }
}

.slogan{

	  width: 100%;
	  // height: 70px;
	  // border-radius: 50%;
	  // background: #0098cd;
		text-align: center;
		color: white;
		font-size: 48px;
	  position: relative;
	  top: 50vh;
		margin: auto;

	  // box-shadow: 0px 2px 8px rgba(0,0,0,.25);
	  margin: 0 auto;
	  cursor: pointer;
	  transition: all .1s ease;
	  // padding: 28px 25px 25px 25px;
		@media (max-width: 700px ) {
	  	top: 45vh;
			font-size: 18px;
	  }

}
