#front-content {
	display: flex;
}

.search-header {
	background-image: url('../img/story-feature2.jpg');
	background-size: cover;
	height: 55vh;
	display: block;
	position: relative;
	@media (max-width: 500px) {
		width: 144vw;
		height: 40vh;
	}
	.search-options {
		position: absolute;
	    top: 25vh;
	    left: 30vw;
	    @media (max-width: 500px) {
		    top: 20vh;
		    left: 15vw;
	    }
		.form {
			display: flex;
		}
		.field-wrap {
			margin-bottom: 0;
			height: 50px;
		}
		.search-bar {
			// background: $main-light;
			border-top: 1px solid white;
			border-bottom: 1px solid white;
			border-left: 1px solid white;
			opacity: .5;
			width: 450px;
			//border-top-left
			-webkit-border-top-left-radius: 10px;
			-moz-border-top-left-radius: 10px;
			border-top-left-radius: 10px;
			//border-bottom-left
			-webkit-border-bottom-left-radius: 10px;
			-moz-border-bottom-left-radius: 10px;
			border-bottom-left-radius: 10px;
			&:focus {
				opacity: 1;
				transition: opacity .2s;
			}
			&:hover {
				opacity: 1;
				transition: opacity .2s;
			}



		}
		.search-button {
		    width: 3vw;
		    @media (max-width: 500px) {
		    	width: 10vw;
		    }
		    border: none;
		    border-top-right-radius: 5px;
		    border-bottom-right-radius: 5px;
		}
	}
	.search-advanced {
		margin-top: 10px;
		color: #fff;
		.advance-button {
			cursor: pointer;
			&:hover {
				text-decoration: underline;
			}
		}
		.advanced-search-options {
			opacity: 0;
			pointer-events: none;
			&.show {
				opacity: 1;
				pointer-events: auto;
				transition: opacity .2s;
			}
		}
	}
}

.advanced-options-button {
	background: $dark-blue;
	color: #fff;
	cursor: pointer;
	width: 125px;
	&:hover {
		background: $lighter-dark-blue;
		color: #fff;
	}
	span {
		transition: margin .2s;
		position: relative;
		display: block;
		&:after {
			position: absolute;
			transition: opacity .2s, transform .2s;
			transform: translateX(10px);
			content: '\f00c';
			font-family: 'FontAwesome';
			opacity: 0;
		}
	}
}

.advanced-active span {
	margin: 0 10px 0 0;
	&:after {
		opacity: 1;
		transform: translateX(5);
	}
}

.search-content {
	.search-wrapper {
		width: 75vw;
		@media (max-width: 500px) {
			width: 144vw;
		}
		margin: 0 auto;
	}
	.first-item {
		display: flex;
		margin: 5px 0;
		background: $search-blue;
		img {
			width: 300px;
			height: auto;
			max-height: 250px;
		}
		.story-info {
			margin-left: 4vw;
			.story-title {
				margin-top: 5px;
			}
			.author-name {
				&:hover {
					color: $darker-dark-blue;
					transition: color .2s;
				}
				a:hover {
					text-decoration: none;
				}
			}
			.excerpt {

			}
			.story-extra {
				display: flex;
				.likes .feature-likes {
					margin-left: 1vw;
					font-size: 1.2em;
				}
				.view-story {
					margin-left: 2vw;
					margin-bottom: 2vh;
				}
			}
		}
		&:hover {
			background: $dark-search-blue;
			transition: background .2s;
		}
	}
}
