#front-content {
	display: flex;
	// flex-wrap: wrap;
	position: relative;
	.to-search {
		position: absolute;
		top: 8vh;
		cursor:pointer;
		@media (max-width:700px) {
			top: 13vh;
		}
		background: $transparent-dark-blue;
		padding: 5px;
		border-radius: 5px;
		left: 3vw;
		z-index: 9999;
		a {
			color: #fff;
			&:hover{
				text-decoration: none;
				color: #0498e2;
			}
		}
		&:before {
			content: '\f060';
			color: #fff;
			font-family: 'FontAwesome';
		}
	}
}

.story-content {
	width: 75vw;
	@media (max-width: 700px) {
		width: 100vw;
	}
	height: auto;
	.slider-image {
		height: 60vh;
		@media (max-width: 700px) {
			height: 30vh;
		}
	}
	.slider {
		padding-top: 6vh;
		@media (max-width: 700px) {
			padding-top: 12vh;
		}
		button.slick-prev.slick-arrow {
			left: 20px;
			z-index: 9;
		}
		button.slick-next.slick-arrow {
		    right: 15px;
		}
	}
	.story-article {
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: #f7f7f7;

		h1 {
			color: $dark-blue;
			margin-left: 5vw;
			text-align: left;
		}

		.content {
			margin: 0 5vw;
		}
	}

}


.sections-divider{
	margin-top: 40px;
	margin-bottom: 50px;
}

.story-comments {
	margin-top:50px;
	margin-bottom:50px;
	margin-left: 5vw;
	// margin: 0 5vw;
	h4{
		margin-bottom: 40px;
	}
	.comment {
		h6 {
			color: $light-black;
		}
		&-content {
			display: block;
			margin-bottom: 25px;
			background-color: #f7f7f7;
			color: $light-black;
			font-size: 13px;
			border: none;
			resize: none;
			word-wrap: break-word;
		 	padding: 5px;
			width:60%;
			@media (max-width: 768px) {
				width: 100%;
			}




		}
	}
	.add-comment {
		margin-top: 30px;
		width:60%;
	}
}

.story-header {
	height: 700px;
	margin: 6vh 0;
	display: block;
	.story-feature-image {
		width: 100%;
		max-height: 700px;
	}
}

.author-details {
	@media (max-width: 700px) {
		display: none;
	}
}

.author-details, #author-mobile {
	width: 25vw;
	@media (max-width: 700px) {
		width: 100vw;
		z-index: 999;
	}
	position: relative;
	text-align: center;
	.details {
		position: absolute;
		top: 25vh;
		left: 7vw;
		@media (max-width: 700px) {
		    top: 8vh;
		    width: 100vw;
		    height: 70vw;
		    background: $dark-blue;
		    z-index: 9999999999999;
		    left: 0;
		}
		.description {
			width: 75%;
			margin: 0 auto;
			margin-bottom: 10px;
		}
		.stay {
			position: fixed;
			@media (max-width: 700px) {
				position: static;
				margin-top: 5vh;
				color: #fff;
			}
		}
	}
	img {
		border-radius: 50px;
		width: 100px;
		height: auto;
	}

}

.field-wrap{

	.post-story{
		border: none;
		font-size: 14px;
	}
	// .comment-text-area{
	// 	border: 1px;
	// }
}

.content-text-area {
	word-wrap: break-word;
}

pre {
	display: block;
	font-size: 14px;
	color: black;
	border: none;
	resize: none;
	padding: 5px;
	white-space: pre-wrap;
	word-wrap: break-word; 
}

