#front-content {
	display: flex;
	// flex-wrap: wrap;
}

.story-content {
	width: 75vw;
	@media (max-width: 500px) {
		width: 100vw;
	}
	height: auto;
	.slider-image {
		height: 60vh;
		@media (max-width: 500px) {
			height: 30vh;
		}
	}
	.slider {
		padding-top: 6vh;
		@media (max-width: 500px) {
			padding-top: 8vh;
		}
		button.slick-prev.slick-arrow {
			left: 20px;
			z-index: 9;
		}
		button.slick-next.slick-arrow {
		    right: 15px;
		}
	}
	.story-article {
		h1 {
			color: $dark-blue;
		}
	}
	.content {
		margin: 0 5vw;
	}
}

.story-comments {
	margin: 0 5vw;
	.comment {
		h4 {
			color: $light-black;
		}
		&-content {

		}
	}
	.add-comment {
		margin-top: 20px;
	}
}

.story-header {
	height: 500px; 
	margin: 6vh 0;
	display: block;
	.story-feature-image {
		width: 100%;
		max-height: 500px;
	}
}

.author-details {
	@media (max-width: 500px) {
		display: none;
	}
}

.author-details, #author-mobile {
	width: 25vw;
	@media (max-width: 500px) {
		width: 100vw;
		z-index: 999;
	}
	position: relative;
	text-align: center;
	.details {
		position: absolute;
		top: 25vh;
		left: 7vw;
		@media (max-width: 500px) {
		    top: 8vh;
		    width: 100vw;
		    height: 70vw;
		    background: $dark-blue;
		    z-index: 9999999999999;
		    left: 0;
		}
		.description {
			width: 75%;
			margin: 0 auto;
			margin-bottom: 10px;
		}
		.stay {
			position: fixed;
			@media (max-width: 500px) {
				position: static;
				margin-top: 5vh;
				color: #fff;
			}
		}
	}
	img {
		border-radius: 50px;
		width: 100px;
		height: auto;
	}

}