.new-users-location {
	.new-users {
		display: flex;
		margin-top: 2vh;
		.user-details {
			display: flex;
		}
		.user-name {
			font-size: 20px;
			margin-right: 5vw;
			display: block;
			min-width: 15vw;
			position: relative;
			&:after {
				content: "|";
				position: absolute;
				right: -10px;
			}	
		}
		.user-email {
			display: block;
			min-width: 20vw;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.user-buttons {
	.user-icons {
		padding: 3px 8px;
		border-radius: 4px; 
		display: inline-block;
	}	
}