// Buttons
.edit-button {
	background: $edit-green;
	cursor: pointer;
	color: $dark-blue;
	color: #fff;
	&:hover {
		background: $darker-edit-green;
		color: #fff;
	}
}

.audio-button {
	background: $audio-green;
	cursor: pointer;
	color: $white;
	color: #fff;
	&:hover {
		background: $audio-green-hover;
		color: #fff;
	}
}

.draft-button{
	background-color: $draft-button;
	cursor: pointer;
	color: $dark-blue;
	&:hover {
		background: $draft-darker;
		color: white;
	}
}

.cancel-button{
	background-color: $draft-button;
	cursor: pointer;
	color: $dark-blue;
	width: 150px;
	&:hover {
		background: $draft-darker;
		color: white;
	}
}

.delete-button {
	background: red;
	cursor: pointer;
	color: #fff;
	&:hover {
		background: $darker-delete-red;
		color: #fff;
	}
}

.view-button {
	background: $main;
	cursor: pointer;
	color: #fff;
	&:hover {
		background: $main-dark;
		color: #fff;
	}
}


.comments-button {
	background: #000;
	color: #fff;
	cursor: pointer;
	&:hover {
		background: $light-black;
		color: #fff;
	}
}

//view stories button in search page
.view-button-searched {
	background: $main;
	color: #fff;
	cursor: pointer;
	&:hover {
		background: $main-dark;
		color: #fff;
	}
}

// story cards
.story-card-buttons {
	width: 50%;
	margin: 5vh auto;
	display: flex;
	flex-wrap: wrap;
	.card-icons {
		font-size: 25px;
		width: 40px;
		text-align: center;
		border-radius: 5px;
		margin-left: 20px;
		&:first-of-type{
			margin-left: 25%;
		}
	}
}



@mixin card($width, $height, $background) {
	width: $width;
	height: $height;
	background: $background;
	display: block;
	margin-bottom: 3vh;
	border-radius: 10px;
}

@mixin not-first-card($margin) {
	margin-left: $margin;
}

// Story Cards
.story-card-location {
	margin-top: 5vh;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 50px;
	.story-card {
		@media (min-width: 401px) {
			@include card(48%, auto, $gray);
			&:nth-of-type(2n) {
				@include not-first-card(4%);
			}
		}
		@media (max-width: 700px) {
			@include card(100%, auto, $gray);
		}
		.deleted {
			z-index: 1000;
			background: red;
			padding: 10px 0;
			color: #fff;
			text-align: center;
			font-size: 1.1em;
		}
		.draft {
			z-index: 1000;
			background: $dark-blue;
			padding: 10px 0;
			color: #fff;
			text-align: center;
			font-size: 1.1em;
		}
		.story-title {
			text-align: center;
			margin-top: 2vh;
		}
		.story-card-image {
			// margin-top: 2vh;
			width: 100%;
			height: auto;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			// margin-left: 25%;
			// border-radius: 700px;
		}
	}
}

// layout
#page-content {
	margin-top: 6vh;
	margin-left: 15vw;
	@media (max-width: 700px) {
		margin-left: 0;
	}
	overflow: hidden;
}

#front-content {
	margin-top: 6vh;
	// margin-left: 15vw;
	// overflow: hidden;
}

// text
.title {
	font-size: 25x;
	color: $dark-blue;
	text-align: left;
	margin-top: 4vh;
}
