$body-bg: #F0F0F0;
$form-bg: #13232f;
$white: #ffffff;

$main: #0498e2;
$main-light: lighten($main,5%);
$main-dark: darken($main,15%);

// dark blue
$dark-blue: #132330;
$lighter-dark-blue: lighten($dark-blue, 15%);
$darker-dark-blue: darken($dark-blue, 15%);

// greens
$edit-green: #0ac10a;
$darker-edit-green: darken($edit-green,10%);

$audio-green: darken($edit-green, 25%);
$audio-green-hover: lighten($audio-green, 15%);

// reds
$delete-red: #ff0000;
$darker-delete-red: darken($delete-red, 15%);

$light-black: lighten(#000, 25%);

$gray-light: #a0b3b0;
$gray: #ddd;

$search-blue: #a9dcf5;
$dark-search-blue: darken(#a9dcf5, 15%);

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;


// Renzo Variables
$background-content-color: #F5F5F5;
$post-story-bg: #ccc;
$draft-button: #d3d3d3;
$draft-darker: darken($draft-button, 15%);
