@import "variables";
@import "objects";

// partials
@import "./partials/top-bar";
@import "./partials/side-bar";
@import "./partials/footer";

// pages
@import "./pages/profile";
@import "./pages/login";
@import "./pages/post-story";
@import "./pages/new-users";
@import "./pages/new-stories";
@import "./pages/view-story";
@import "./pages/search"; 

html, body {
  height: 100%;
}

#main-content, #main-content-front {
  min-height: 100%;
  margin-bottom: -10vh;
  &:after {
    content: "";
    display: block;
  }
}

