@import "variables";
@import "objects";

// partials
@import "top-bar";
@import "side-bar";
@import "footer";

// pages
@import "profile";
@import "login";
@import "post-story";
@import "new-users";

html, body {
  height: 100%;
}

#main-content {
  min-height: 100%;
  margin-bottom: -10vh;
  &:after {
    content: "";
    display: block;
  }
}

